#container-inside {padding: 0!important; max-width: 100%!important;}
.articlewrapper.fullwidth > .inside {max-width: 100%; padding-left: 0; padding-right: 0;}
.articlewrapper.fullwidth_contentboxed > .inside {max-width: 1280px; margin-left: auto; margin-right: auto; padding-left: 40px; padding-right: 40px;}
.articlewrapper.boxed {max-width: 1200px; margin-left: auto; margin-right: auto; }
.articlewrapper.boxed > .inside {max-width: 100%; padding-left: 40px; padding-right: 40px;}
